!!! 5
html
  head
    link(rel="stylesheet", type="text/css", href="styles/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="styles/app.css")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/jquery-1.7.1.js")
    script(type="text/javascript", src="/javascripts/jquery.tmpl.js")
    script(type="text/javascript", src="/javascripts/knockout-2.0.0.debug.js")
    script(type="text/javascript", src="/models/room.js")
  body
    .topbar
      .fill
        .container-fluid
          a.brand(href="#") squawk
          form.pull-right(action="")
            input.input-small(type="text", placeholder="email")
            input.input-small(type="password", placeholder="password")
            button.btn(type="submit") Sign in
    .container
      .row
        .offset8
          form(action="room", method="POST")
            fieldset
              legend register
              .clearfix
                label(for="xlInput") email
                .input
                  input#email.input-large(type="text", name="email")
              .clearfix
                label(for="xlInput") first name
                .input
                  input#first.input-large(type="text", name="firstName")
              .clearfix  
                label(for="xlInput") last name
                .input
                  input#last.input-large(type="text", name="lastName")
              .clearfix
                label(for="xlInput") password
                .input
                  input#password.input-large(type="password", name="password")
              .clearfix
                label(for="xlInput") confirm 
                .input
                  input#confirmpassword.input-large(type="password", name="second")
              .clearfix
                label(for="xlInput") 
                .input
                  button#submit.btn.large.primary(type="submit") register now!

