include layout
.container
  .row
    .span3
      h3 whos here
    .span13
      div
        h3 current room <small>room description</small
      div
        table
          tbody(data-bind="foreach: squawks")
            tr    
              td
                div(data-bind="text: email")
              td
                div(data-bind="text: message").message-body
      div
        p
          textarea.send-message(data-bind="value: messageToAdd, valueUpdate: 'afterkeydown', addOnEnter: addSquawk")
        p
          button.btn(data-bind="click: addSquawk") send
