include layout
script(type="text/javascript", src="/models/room.js")
script(type="text/javascript", src="/javascripts/rating.js")
.container
  .row
    .span3(style="height: 1px")
      .span3.userlist-wrapper
        div 
          h3 who is here
        div(data-bind="foreach: users")
          p(data-bind="text: name")
    .span13
      .room-header.span13
        h3 current room <small>room description</small>
        .center
          a.yesterday(href='/room/archive/1/21/2012') yesterday
          strong \ | 
            span.todays-date#{date}
      div(style="padding-bottom: 110px; padding-top: 54px;")
        table
            tbody(data-bind="foreach: squawks")
              tr
                td(style="padding: 2px; width: 1px;")
                  table.user
                    tbody
                      tr    
                        td
                          .user-body(data-bind="text: email")
                      tr
                        td
                          div
                            span.small(data-bind="text: timestamp")
                            span.star(data-bind="star: starred, attr: {'id': messageId}")
                td.message-body
                  div(data-bind="html: message").message-body
      .span13.send-message-wrapper
        p
          textarea.span13.send-message(data-bind="value: messageToAdd, valueUpdate: 'afterkeydown', addOnEnter: addSquawk")
        p
          button.btn(data-bind="click: addSquawk") send
