<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="styles/app.css"/>
  <script type='text/javascript' src="/socket.io/socket.io.js"></script>
  <script type='text/javascript' src='/javascripts/jquery-1.7.1.js'></script>
  <script type='text/javascript' src='/javascripts/jquery.tmpl.js'></script>
  <script type='text/javascript' src='/javascripts/knockout-2.0.0.debug.js'></script>
  <script type='text/javascript' src='/models/room.js'></script>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container-fluid">
        <a class="brand" href="#">squawk</a>
        <ul class="nav">
          <li><a href="#">rooms</a></li>
        </ul>
        <form action="" class="pull-right">
          <input class="input-small" type="text" placeholder="email"/>
          <input class="input-small" type="password" placeholder="password"/>
          <button class="btn" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sidebar">
      <h3>whos here<h3>
    </div>
    <div class="content">
      <div>
        <h2>current room<small> room description</small><h2>
      </div>
      <div>
        <div data-bind="template: {name:'squawkTemplate', foreach: squawks}"></div>
        <script type="text/x-jquery-tmpl" id="squawkTemplate">
          <p><span data-bind="text: message"></span></p>
        </script>
      </div>
      <div>
        <textarea class="send-message" data-bind="value: messageToAdd, valueUpdate: 'afterkeydown', addOnEnter: addSquawk"></textarea>
        <button class="btn" data-bind="click: addSquawk">send</button>
      </div>
    </div>
  </div>
</body>
</html>
