<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="styles/app.css"/>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container-fluid">
        <a class="brand" href="#">squawk</a>
        <ul class="nav">
          <li><a href="#">rooms</a></li>
        </ul>
        <form action="" class="pull-right">
          <input class="input-small" type="text" placeholder="email"/>
          <input class="input-small" type="password" placeholder="password"/>
          <button class="btn" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sidebar">
      <h3>whos here<h3>
    </div>
    <div class="content">
      <h2>current room<small> room description</small><h2>
      <textarea class="send-message"></textarea>
    </div>
  </div>
</body>
</html>
