include layout
.container
  .row
    .span3(style="height: 1px")
      .span3.userlist-wrapper
        div 
          h3 whos here
        div(data-bind="foreach: users")
          p(data-bind="text: name")
    .span13
      div
        h3 current room <small>room description</small
      div(style="padding-bottom: 110px")
        table
            tbody(data-bind="foreach: squawks")
              tr
                td(style="padding: 2px; width: 1px;")
                  table.user
                    tbody
                      tr    
                        td
                          .user-body(data-bind="text: email")
                      tr
                        td
                          .small(data-bind="text: timestamp") 
                td(style="padding: 2px 10px")
                  div(data-bind="html: message").message-body
      .span13.send-message-wrapper
        p
          textarea.send-message(data-bind="value: messageToAdd, valueUpdate: 'afterkeydown', addOnEnter: addSquawk")
        p
          button.btn(data-bind="click: addSquawk") send
