.topbar
  .fill
    .container
      a.brand(href="#") squawk
      form.pull-right(action="/room", method="POST")
        input#emaillogin.input-small(name="emaillogin", type="text", placeholder="email")
        input#passwordlogin.input-small(name="passwordlogin", type="password", placeholder="password")
        button.btn(type="submit") Sign in
