.topbar
  .topbar-inner
    .container
      a.brand(href="#") squ@wk
      ul
        li
          a Starred
        li
          form
            input(type="text", placeholder="search for a message...")
      - if (session.user || request.url === '/sessions')
        .pull-right
          ul.nav
            li#user
              p= 'logged in: ' + session.user
              input#email(name="email", type="hidden", value="#{session.user}")
            li#logout
              a(href="/session/destroy") logout
      - else
        form.pull-right(action="/sessions", method="POST")
          input#email.input-small(name="email", type="text", placeholder="email")
          input#password.input-small(name="password", type="password", placeholder="password")
          input#redirect(name="redir", type="hidden", value="/room")
          button.btn(type="submit") Sign in
