body {
    padding-top: 40px;
    background-color: #eee;
}

textarea.send-message {
    resize: none;
    width: 650px;
    height: 60px;
}

table.user {
    border-collapse: collapse;
    margin: 0px;
}

.user td {
    text-align: right;
    width: 1px;
    padding: 0px;
    border: none;
}

.space {
    height: 100px;
}

.user-body {
}

.message-body {
    word-wrap: break-word;
}

.messages {
    background-color: white;
}
.userlist {
    background-color: white;
}
.small {
    font-size: 10px;
    color: #BFBFBF;
}
