body {
    padding-top: 40px;
    background-color: #eee;
}

textarea.send-message {
    resize: none;
    height: 60px;
}

table.user {
    border-collapse: collapse;
    margin: 0px;
}

.user td {
    font-size: 11px;
    text-align: right;
    min-width: 100px;
    max-width: 100px;
    padding: 0px;
    border: none;
}


.space {
    height: 100px;
}

.user-body {
    font-weight: bold;
}

.message-body {
    word-wrap: break-word;
}

.userlist-wrapper {
    position: fixed;
}

.send-message-wrapper {
    position: fixed;
    bottom: 0px;
    z-index: 1001;
    background-color: #EEE;
}

.messages {
    background-color: white;
}

.userlist {
    background-color: white;
}

.small {
    font-size: 10px;
    color: #BFBFBF;
}

.room-header {
    position: fixed;
    top: 40px;
    z-index: 1001;
    background-color: #EEE;
}
.center {
    text-align: center;
}
